<footer role="contentinfo" class="c-site-foot">
  <div class="o-wrapper">
    <div class="c-site-foot__inner">
      {% if page.url != '/' %}
      <article class="c-site-foot__details">
        <h3>{{ site.name }}</h3>
        <p lang="ja">{{ site.description }}</p>
      </article>
      <hr class="o-hr o-hr--three-stars">
      {% endif %}

      {% include "partials/components/small-print.njk" %}

      {% if page.url === '/' %}
        {% if speedify %}
          {% include "partials/components/speedify.njk" %}
        {% endif %}
      {% endif %}

      {% if site.showThemeCredit %}
      <p class="c-site-foot__credit">
        <small>Powered by <a href="https://github.com/frontendweekly/virga">Virga</a>. Made Proudly in Tokyo.</small>
      </p>
      {% endif %}
    </div>
  </div>
</footer>
