<div class="c-small-print">
  <div class="c-small-print__item c-small-print__item--contact">
    <h6>Contact</h6>
    <a href="mailto:{{ site.author.mail }}" title="email" rel="me" >{{ site.author.mail }}</a>
  </div>
  <div class="c-small-print__item c-small-print__item--social">
    <h6>Social</h6>
    <a href="{{ site.social.twitter }}" title="Twitter" rel="me">Twitter</a> /
    <a href="{{ site.social.github }}" title="GitHub" rel="me">GitHub</a>
  </div>
  <div class="c-small-print__item c-small-print__item--published-by">
    <h6>Publications</h6>
    <div class="c-small-print__publication">
      <strong>Sixty Six</strong>
      <p>
        <a href="https://sixtysix.frontendweekly.tokyo/">Sixty Six</a> is collection of quotes so I stop forgetting what I thought and/or read.
      </p>
    </div>
    <div class="c-small-print__publication">
      <strong>Virga</strong>
      <p>
        <a href="https://virga.frontendweekly.tokyo/">Virga</a> is an Eleventy starter kit and English blog covers Frontend stuff.
      </p>
    </div>
  </div>
</div>
