.c-blogroll__link {
  text-decoration: none;

  &:visited {
    color: var(--color-text);
  }
}

.c-blogroll__link--feed-url {
  display: inline-flex;
}

.c-blogroll__link--feed-url svg {
  width: 1em;
  height: 1em;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.25em;
  fill: currentColor;
  flex: 1 0 auto;
}
