.c-intro__heading {
  margin-top: 0;
  margin-bottom: 0;
  background: linear-gradient(0deg, #eddbb9 40%, transparent 40%);
}

.intro__summary > p:not([class]) {
  font-family: var(--type-face-sans);
}

.intro__summary time {
  font-family: var(--type-face-serif);
}
